<app-container>

  <div body class="wrapper">
    <div class="menu-flex" id="menu_id">
      <app-navbar></app-navbar>
    </div>
    <section class="siteMap col-md-12 form-group padding content-header">
      <ol class="breadcrumb">
        <li style="font-weight: bold;" [ngClass]="{'active':last}"
          *ngFor="let item of breadcrumbList;let first = first;let last=last">

          <i *ngIf="first" class="fa fa-dashboard"></i>
          {{item|translate}}
        </li>
      </ol>

    </section>

    <router-outlet>
    </router-outlet>
  </div>

</app-container>