<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{'HdrTaskManagement'|translate}}

        </h1>

    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                        <h5> <i class="fa fa-search"></i> {{'Search'|translate}}</h5>
                        <div class="card-header-right">
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="card-body">
                            <div class="mb-3 row">



                                <label class="col-sm-2 col-form-label"
                                    style="font-size:15px">{{'Status'|translate}}</label>
                                <div class="col-md-3">

                                    <select id="status" #status (change)="selectstatusvalue($event)"
                                        class="form-select">
                                        <option [value]="null" selected disabled>-Select Status-</option>
                                        <option *ngFor="let status of statusdata;index as i" [value]="status.id">
                                            {{status.nameEn}}</option>
                                    </select>
                                </div>


                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label"
                                    style="font-size:15px">{{'assignedTo'|translate}}</label>
                                <div class="col-sm-3">

                                    <input class="form-control" #assigendto id="assigendto"
                                        placeholder="{{'assignedTo'|translate}}" type="text">
                                </div>

                            </div>










                            <div style="position:relative;">
                                <button (click)="FilterData()" class="btnaddnew"><i class="fa fa-search"
                                        style="margin: 5px;"></i>{{'Search'|translate}}</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5> <i class="fa fa-info-circle"></i> {{'HdrTaskManagement'|translate}}</h5>

                    </div>

                    <div class="card-body">
                        <div fxLayout="row" fxLayoutAlign="space-around center">

                            <button mdbWavesEffect class="btnaddnew" data-toggle="modal" data-target="#basicExample"
                                (click)="addnew()"><i class="fa fa-plus"
                                    style="margin: 5px;"></i>{{'AddNew'|translate}}</button>



                        </div>

                        <div style="margin-top:70px;margin:auto" #epltable>

                            <table mat-table [dataSource]="dataSource" matSort
                                class="table table-bordered table-hover dataTable mat-elevation-z8">
                                <ng-container matColumnDef="code" hidden>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Code'|translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="tittle">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'tittle'|translate}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                </ng-container>

                                <ng-container matColumnDef="priority">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'priority'|translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.priorityName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'status'|translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="assignedTo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'assignedTo'|translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
                                </ng-container>


                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef> {{'Actions'|translate}} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="col-md-6" style="margin: auto;">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button class="actionbtn" (click)="getdatabyid(element.id)"><i
                                                            class="fa fa-edit"></i> </button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="actionbtn" (click)="deleteaction(element.id)"
                                                        style="margin-left: 10px;"><i class="fa fa-trash"></i> </button>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator class="pagination" [pageSizeOptions]="[5, 15, 25,50]"
                                showFirstLastButtons></mat-paginator>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #036474;">
                    <p class="heading lead">{{'Task'|translate}}</p>

                </div>
                <div class="modal-body" style="overflow:auto;height:60vh">
                    <form [formGroup]="formitem" class="form-horizontal" (ngSubmit)="onSubmit()">

                        <div class="form-group col-md-12">
                            <div class="form-group col-md-12" style="text-align:left;padding-top:10px; ">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label class="padding"
                                            style=" margin-left: 5px; color:#000;padding-top:10px; ">{{'Title'|translate}}</label>
                                        <font style="color: red;">*</font>
                                        <input class="form-control" id="title" maxlength="50" formControlName="title"
                                            placeholder="{{ 'Title' | translate }}" type="text">
                                        <div *ngIf="submitted && f.title.errors" class="alert alert-danger mt-3 mb-0"
                                            style="margin-bottom: 10px !important;">
                                            <div *ngIf="f.title.errors.required" class="">
                                                {{'Title'|translate}} {{'RequiredValidate'|translate}}</div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12" style="text-align:left;padding-top:10px; ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="padding"
                                            style=" margin-left: 5px; color:#000">{{'Priority'|translate}}</label>
                                        <font style="color: red;">*</font>
                                        <select id="priorityId" formControlName="priorityId" class="form-select">
                                            <option [value]="null" selected disabled>-Select Job Tittle-</option>
                                            <option *ngFor="let prioritydata of priortydata;index as i"
                                                [value]="prioritydata.id">{{prioritydata.nameEn}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.priorityId.errors"
                                            class="alert alert-danger mt-3 mb-0"
                                            style="margin-bottom: 10px !important;">
                                            <div *ngIf="f.priorityId.errors.required" class="">
                                                {{'Priority'|translate}} {{'RequiredValidate'|translate}} </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="padding"
                                            style=" margin-left: 5px; color:#000">{{'Status'|translate}}</label>
                                        <font style="color: red;">*</font>
                                        <select id="statusId" formControlName="statusId" class="form-select">
                                            <option [value]="null" selected disabled>-Select Department-</option>
                                            <option *ngFor="let status of statusdata;index as i" [value]="status.id">
                                                {{status.nameEn}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.statusId.errors" class="alert alert-danger mt-3 mb-0"
                                            style="margin-bottom: 10px !important;">
                                            <div *ngIf="f.statusId.errors.required" class="">
                                                {{'Status'|translate}}{{'RequiredValidate'|translate}} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12" style="text-align:left;padding-top:10px; ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="padding"
                                            style=" margin-left: 5px; color:#000;padding-top:10px; ">{{'DueDate'|translate}}</label>

                                        <input class="form-control" formControlName="dueDate" placeholder="dd/MM/yyyy"
                                            name="dp" min="{{duedate | date:'yyyy-MM-dd'}}" type="date">
                                        <div *ngIf="submitted && f.dueDate.errors" class="alert alert-danger mt-3 mb-0"
                                            style="margin-bottom: 10px !important;">
                                            <div *ngIf="f.dueDate.errors.required" class="">
                                                {{'DueDate'|translate}}{{'RequiredValidate'|translate}} </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="padding"
                                            style=" margin-left: 5px; color:#000;padding-top:10px; ">{{'AssignedTo'|translate}}</label>

                                        <input class="form-control" id="assignedTo" maxlength="11"
                                            formControlName="assignedTo" placeholder="{{'assignedTo'|translate}}"
                                            type="text">
                                    </div>

                                </div>

                            </div>

                            <div class="form-group col-md-12" style="text-align:left;padding-top:10px; ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="padding"
                                            style=" margin-left: 5px; color:#000;padding-top:10px; ">{{'Note'|translate}}</label>

                                        <textarea class="form-control" formControlName="description" rows="5" cols="30"
                                            placeholder="Enter your Note"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer justify-content-center">
                    <button (click)="saveaction()" class="btn btn-primary my-4">{{ 'Save' | translate }}</button>

                    <button (click)="CancelFunc()" style="margin-top: 10px;" class="btn btn-primary my-4"><i
                            class="fa fa-times-circle-o" style="margin:5px;color:#fff"></i> {{ 'Cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>