
<div class="modal-dialog" *ngIf="isInfo" role="document" style="display:block!important">
  <!--<div class="modal-dialog custom-alert" role="document">-->
  <div class="modal-content">

    <div class="modal-body">
      <div *ngIf="done" style="text-align: center;">
        <i class="fa fa-check-circle" style="font-size: 50px;color: #0088bc;"></i>
      </div>
      <div *ngIf="!done" style="text-align: center;">
        <i class="fa fa-times-circle-o"  style="font-size: 50px;color: red;"></i>
      </div>
      <div class="row">
        <div class="col-md-12 text-center confirm-message" [innerHTML]="htmlMsg">

        </div>
      </div>
      <!--<div class="row">
    <div class="col-md-12">
      <p class="confirm-button">
        <a class="mr-2" (click)="btnOkClicked()">
          <button class="btn btn-yes">OK</button>
        </a>-->
      <!-- <a (click)="message.noFn()">
      <button class="btn btn-no">No</button>
  </a>     -->
      <!--</p>
    </div>
  </div>-->
    </div>

    <div class="modal-footer" style="justify-content: center;">
      <button *ngIf="done" type="button" class="btn  btn btn-yes" (click)="btnOkClicked()">Ok</button>
      <button *ngIf="!done" type="button" style="background-color:red" class="btn  btn btn-yes" (click)="btnOkClicked()">Ok</button>
      <!--<button type="button" class="btn popupcheckoutbtn" (click)="checkoutfunc()">CheckOut</button>-->
    </div>
  </div>
  </div>







<div class="modal-dialog" style="overflow: hidden; " *ngIf="isDelete">
  <div class="modal-content">
    <form [formGroup]="Form">
      <div class="modal-header">

        <span>{{'Confirm Delete'|translate}}</span>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center confirm-message" [innerHTML]="data.msg">
         
          </div>
          <!--<div *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors.required">{{'MSG201'|translate}}</div>
      <div *ngIf="password.errors.invalidPass && !password.errors.required">{{'MSG202'|translate}}</div>
    </div>
    <input type="password" formControlName="password" id="password" class="fieldsetTxtboxwhite delete-pass-btn" placeholder="Password" style="  border: solid 1px #ff6565 !important;">-->
        </div>
        <div class="modal-footer" style="justify-content: center;">
          <button type="button" class="btn btn-yes" (click)="btnOkClicked()">{{'Ok'|translate}}</button>
          <button type="button" class="btn btn-No" (click)="btnCancelClicked()">{{'Cancel'|translate}}</button>
        </div>
</form>
  </div>
</div>


